:root{
  background: #fffef9;
  --lite_gray: #707070;
  --orange: #fc6140;
  --bs-body-bg: #f3f0e300;
  --white: #fff;
  --h1: #524964;
}

.nav-link{
  color: var(--lite_gray);
}
.nav-link:hover{
  color: var(--orange);
}

.navbar{
  border-bottom: 0.5px solid #fc614052;
}
.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-brand > img{
  width: 9em;
  height: auto;
  margin: 0 9rem 0 0 ;
}
.button-con{
  width: 75px;
  height: 40px;
  border-radius: 0.4em;
  background: var(--orange);
  color: var(--white);
}
.button-con:hover{
  color: var(--white);
}
.home{
  margin: 0 75px;
}
.home-title{
  margin: 0 20px;
  color: var(--h1);
}
.partner-logo{
  padding: 0 50px;
}
.partner-title{
  position: relative;
  text-align: center;
  width: 100%;
}
.partner-title span{
  display: inline-block;
  position: relative;
}
.arrow{
  position: absolute;
  left: -80px;
  top: -37px;
  transform: rotate(123deg);
}
.logo-wrap{
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
  margin-top: 35px;
}
.logo-grp-desk{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: inline-block;
}
.logo img{
  height: auto;
  width: 100%;
  max-width: 115px;
 }  
  /* ourcustomtool start */
.videos_tabs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 99;

   
  }
  .videos_tabs .tab-content{
    flex: 0 0 70%;
    max-width: 70%;
  
  }
  .nav-tabs{
    border: 1px solid black;
  }
  .tab-content .video{
    height: 24rem;
    width: 58rem;
    /* border: 1px solid black; */
  }
  /* end */
  .card {
    margin-bottom: 40px;
    border:0px;
  }
  .card-title, .usecasetitle{
    margin-bottom: 1.5rem;
    margin-top:0.5rem;
  }
  .cardtitle{
    color: var(--orange);
    text-decoration: none;
  }
  .subheading{
    padding-left: 15rem;
    padding-right: 15rem;;
  }
  .card-footer {
    background-color: #3F3350;
    color: var(--white);
  }
  .footer-list a{
    color: var(--white);
    text-decoration: none!important;
  }
  .footer-list{
    list-style-type:none!important;
  }
  ul {
    padding-left: 0px!important; 
  }
  .footer-menu{
    padding-top: 8rem;
    padding-left: 0rem;
}
.footercontact{
  padding-top: 10rem;
}
  