:root{
    background: #fffef9;
    --lite_gray: #707070;
    --orange: #fc6140;
}

.nav-link{
    color: var(--lite_gray);
}
.nav-link:hover{
    color: var(--orange);
}


.navbar-brand > img{
  width: 9em;
  height: auto;
  margin: 0 9rem 0 0 ;
}
.heading{
    /* padding: 30px 0; */
  text-align: center;
}
.home{
  margin: 0 75px;
}
.home-title{
  margin: 0 20px;
  color: var(--h1);
}
.partner-logo{
  padding: 0 50px;
}
.partner-title{
  position: relative;
  text-align: center;
  width: 100%;
}
.partner-title span{
  display: inline-block;
  position: relative;
}
.arrow{
  position: absolute;
  left: -80px;
  top: -37px;
  transform: rotate(123deg);
}
.logo-wrap{
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
  margin-top: 35px;
}
.logo-grp-desk{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: inline-block;
}
.logo img{
  height: auto;
  width: 100%;
  max-width: 115px;
}
.videos_tabs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 99;

   
  }
  .videos_tabs .tab-content{
    flex: 0 0 70%;
    max-width: 70%;
  
  }
  .nav-tabs{
    border: 1px solid black;
  }
  .tab-content .video{
    height: 24rem;
    width: 58rem;
    /* border: 1px solid black; */
  }
  .card {
    margin-bottom: 40px;
    border:0px;
  }
  .card-title, .usecasetitle{
    margin-bottom: 1.5rem;
    margin-top:0.5rem;
  }
  .cardtitle{
    color:#fc6140;
    text-decoration: none;
  }
  .subheading{
    padding-left: 15rem;
    padding-right: 15rem;;
  }