@font-face {
    font-family: slabtallx;
    src: url(/Fonts/slabtallx.ttf);
  }
  @font-face {
    font-family: slabtallx_medium;
    src: url(/Fonts/slabtallx-medium.ttf);
  }
@font-face {
    font-family: zilla;
    src: url(/Fonts/ZillaSlab-Light.ttf) format('ttf');
}
/* cyrillic-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7SUc.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa4ZfeM_74wlPZtksIFaj8K8VSMZlE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa4ZfeM_74wlPZtksIFaj8K_1SM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa6ZfeM_74wlPZtksIFajQ6_UyI.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa6ZfeM_74wlPZtksIFajo6_Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYskZ6H2pW2hz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYskZ6HOpWw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYoEf6H2pW2hz.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zillaslab/v11/dFa5ZfeM_74wlPZtksIFYoEf6HOpWw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
:root{
    background: #fffef9;
    --lite_gray: #707070;
    --orange: #fc6140;
    --bs-body-bg: #f3f0e300;
    --white: #fff;
    --h1: #524964;
    --lite_orange: #fc614052;
    --font-color:#3f3350;
}
/* body{
    font-family: slabtallx;
} */
a{
    text-decoration: none;
}
.nav-link{
    color: var(--lite_gray);
}
.nav-link:hover{
    color: var(--orange);
}

.navbar{
    border-bottom: 0.5px solid #fc614052;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-brand > img{
    width: 9em;
    height: auto;
    margin: 0 9rem 0 0 ;
}
.button-con{
    width: 75px;
    height: 40px;
    border-radius: 0.4em;
    background: var(--orange);
    color: var(--white);
}
.button-con:hover{
    color: var(--white);
}
.home-title{
    margin: 0 20px;
    color: var(--font-color);
}
.home-title>h1{
    font: 400 60px/1.22 'Zilla Slab', serif !important;
}
.home-content>h2{
    font: 400 20px/1.8 'Inter', sans-serif;
}
.partner-logo{
    padding: 0 50px;
}
.partner-title{
    position: relative;
    text-align: center;
    width: 100%;
}
.partner-title span{
    display: inline-block;
    position: relative;
}
.arrow{
    position: absolute;
    left: -80px;
    top: -37px;
    transform: rotate(123deg);
}
.logo-wrap{
    width: 100%;
    max-width: 1054px;
    margin: 0 auto;
    margin-top: 35px;
}
.logo-grp-desk{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: inline-block;
}
.logo img{
    height: auto;
    width: 100%;
    max-width: 115px;
}
/* Our Custom Tool */
.video-tabs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.video-tabs>ul>li>div{
    display: flex;
    color: var(--lite_gray);
    border: 1px solid var(--lite_orange);
    /* padding: 15px 50px; */
    font-size: 17px;
    align-items: center;
    flex-direction: row;
}
.vid-ico{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vid-link{
    display: flex;
    flex-direction: column;
}
.video-tabs>ul>li>div>a:nth-child(1){
    color: var(--lite_gray);
}
.video-tabs>ul>li>div>a:nth-child(2){
    color: var(--orange);
}
.video-tabs>ul>li>div>a>.fa-light{
    color: var(--orange)
}

.video-tabs>ul>li>.active>.fa-light{
    color: var(--white);
}
.video-tabs>ul>li>.active{
    color: var(--white);
    background: var(--orange);
}
.video-tabs .nav-tabs{
    border-bottom: none;
    padding: 0 20px;
}
.video-tabs>ul{
    display: block;
    flex: 0 0 30%;
    max-width: 30%;
}
.tab-content{
    flex: 0 0 70%;
    max-width: 70%;
}
.tab-content>div>video{
    height: 495px;
    width: 830px;
    background: #fc614042;
    border-radius: 25px;
}
/* Our Custom Tool */

/* Data Labeling */
.line-text{
  margin: -1rem 0 -8rem 0;
}
.logo-text>p{
  margin: 0;
  text-align: center;
}
.logo-l{
  position: relative;
  top: -25px;
}
.process-img>img{
  width: 120px;
  height: auto;
}
.process-content{
  text-align: center;
}
ul,ol{
  list-style: none;
  padding: 0;
}
.process-list>li>span{
  font-size: 1.3em;
  color: var(--orange);
  margin: 0 8px 0 0;
}
.process-list>li{
  display: flex;
}
.process-title{
  text-align: center;
  height: 45px;
}
.process-dash{
  font-size: 3em;
  position: absolute;
  display: block;
  /* top: -15.938rem;
  left: -2.188rem; */
  top: 2.062rem;
    left: -2.488rem;
  z-index: 1;
  color: var(--orange);
}
.pos{
  position: relative;
}
.col{
  position: relative;
}
.quote-slider-wrap{
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
  margin-top: 90px;
  height: 406px;
  position: relative;
  overflow: visible;
}
.frame-wrap{
  width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.quote-frame{
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
  height: 100%;
  border: 2px solid #3f3350;
  position: relative;
}
.part img{
  width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.heart{
  width: 41px;
  left: -37px;
  top: -50px;
  position: absolute;
}
.line-bot{
  width: 50px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 110px;
  bottom: -2px;
}
.right-cover{
  width: 61px;
    height: 75px;
    background-color: #fff;
    position: absolute;
    right: -3px;
    top: -3px;
}
.notch{
  position: absolute;
    right: 0px;
    top: 0px;
    width: 61px;
    height: 61px;
    border-left: 2px solid #3f3350;
    border-bottom: 2px solid #3f3350;
}
.line-dig{
  width: 1px;
    height: 85px;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left top;
    transform: rotate(-44deg);
    border-left: 2px solid #3f3350;
}
.quote-slide{
  width: 728px;
    height: 100%;
    /* opacity: .22;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;*/
}
.quote-contents{
  width: 100%;
    max-width: 728px;
    margin: 0 auto;
    height: 100%;
    /* border: 2px solid transparent; */
    padding: 25px 50px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.txt{
  max-width: 560px;
}
.openq{
  position: absolute;
    left: 71px;
    display: inline-block;
    top: 6px;
}
.byline{
  font-size: 16px;
    margin-top: 45px;
}
.txt>blockquote{
  font: 400 23px/1.62 'Zilla Slab', serif;
    font-style: italic;
}
/* .arrow-btn{
  display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.slide-control .arrow-btn .icon{
  color: #ff7043;
    font-size: 25px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
} */
.slide-controls .arrow-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.slide-controls .arrow-btn .icon {
  color: #ff7043;
  font-size: 25px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.slide-controls .arrow-btn + .arrow-btn {
  margin-left: 46px;
}
.slide-controls .arrow-btn.off {
  pointer-events: none;
}
.slide-controls .arrow-btn.off .icon {
  color: #3f3350;
  opacity: .2;
}
.slide-controls{
  display: flex;
  justify-content: center;
}
/* #path516,#path522{
  animation: bird1 3s linear infinite;
  animation-direction: normal;
}
#path518,#path520{
  animation: bird1 3s linear infinite;
  animation-direction:alternate;
} */

/* old */
/* #Group_6,#Group_2,#Group_3,#Group_5,#Group_4,#Group_1{
  animation: dots 4s linear infinite;
} */
/* old finish */
/* #Group_6,#Group_2,#Group_3,#Group_5,#Group_4,#Group_1,#path492,#path496,#path500, #path512, #path508, #path504,#path276,#path274,#path490,#path494,#path506,#path498,#path502,#path280,#path514,#path510{
  transform-box: fill-box;
  transform-origin: top;
  animation: dots 4s linear infinite;
}
@keyframes dots {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes bird1 {
  0%{
      transform: translate(100px,-70px);
  }
  50%{
      transform: translate(185px -35px);
  }
  100%{
      transform: translate(120px,-40px);
  }
  /* 100%{
      transform: translate(-10px,70px);
  } */
  /* 100%{
      transform: translate(-70px,-130px);
  } */
}

/* #path18{
  animation: sun1 3s linear infinite ;
  animation-delay: 2s;
}
#path16{
  animation: sun2 3s linear infinite ;
  animation-delay: 3s;
}
#path14{
  animation: sun3 3s linear infinite ;
  animation-delay: 6s;
} */
/* #path20{
  animation: sun4 3s ease infinite ;
} */
/* #path64,#path66{
  transform-box: fill-box;
  transform-origin: bottom;
  animation: lefttree 3s linear infinite ;;
}
#path52,#path40,#path48,#path24,#path22,#path46,#path50,#path44{
  transform-box: fill-box;
  transform-origin: top;
  animation: cloud 5s linear infinite ;;
}
#Group_9,#Group_10{
  transform-box: fill-box;
  transform-origin: center;
  animation: wheel 3s linear infinite;}
  @keyframes wheel {
   from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(-360deg);
    }
  }
@keyframes cloud {
  0%{
    transform: translate3d(10rem,0px,0px);
    opacity: 0.5;
  } */
  /* 5%{
    opacity: 1;
  }*/
  /* 50%{
    opacity: 1; */
  }/*
  94%{
    opacity: 0.8;
  }
  95%{
    opacity: 0; 
  }*/
  /* 100%{
    transform: translate3d(25rem,0px,0px);
    opacity: 0;
  }
} */

/* @keyframes lefttree {
  0%{
    transform: rotate(3deg);
  }
  50%{
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(3deg);
  }
}

@keyframes sun1 {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes sun2 {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes sun3 {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  } */
} */
/* @keyframes sun4 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
} */