:root{
  background: #fffef9;
  --lite_gray: #707070;
  --orange: #fc6140;
  --bs-body-bg: #f3f0e300;
  --white: #fff;
  --h1: #524964;
  --lite_orange: #fc614052;
}
a{
  text-decoration: none;
}
.nav-link{
  color: var(--lite_gray);
}
.nav-link:hover{
  color: var(--orange);
}

.navbar{
  border-bottom: 0.5px solid #fc614052;
}
.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-brand > img{
  width: 9em;
  height: auto;
  margin: 0 9rem 0 0 ;
}
.button-con{
  width: 75px;
  height: 40px;
  border-radius: 0.4em;
  background: var(--orange);
  color: var(--white);
}
.button-con:hover{
  color: var(--white);
}
.home{
  margin: 0 75px;
}
.home-title{
  margin: 0 20px;
  color: var(--h1);
}
.partner-logo{
  padding: 0 50px;
}
.partner-title{
  position: relative;
  text-align: center;
  width: 100%;
}
.partner-title span{
  display: inline-block;
  position: relative;
}
.arrow{
  position: absolute;
  left: -80px;
  top: -37px;
  transform: rotate(123deg);
}
.logo-wrap{
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
  margin-top: 35px;
}
.logo-grp-desk{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: inline-block;
}
.logo img{
  height: auto;
  width: 100%;
  max-width: 115px;
 }
  .card {
    margin-bottom: 40px;
    border:0px;
  }
  .card-title, .usecasetitle{
    margin-bottom: 1.5rem;
    margin-top:0.5rem;
    color: var(--h1);
  }
  .cardtitle{
    color: var(--orange);
    text-decoration: none;
    
  }
  .subheading{
    color: var(--h1);
    padding-left: 15rem;
    padding-right: 15rem;;
  }
  .card-footer {
    background-color: #3F3350;
    color: var(--white);
  }
  .footer-list a{
    color: var(--white);
    text-decoration: none;
  }
  .footer-list{
    list-style-type:none;
  }
  ul {
    padding-left: 0px; 
  }
  .footer-menu h5 {
    padding-top: 8rem;
    padding-left: 0rem;
    color: var(--h1);
}
.rightmenu,.rightmenu a{
  color: var(--h1);
}
.footercontact{
  padding-top: 10rem;
}
.social-icons a{
  color: var(--orange);
}
.border_bar{
  width: 130px;
  height: 3px;
  display: block;
  background-color: #FFF8E1;
  margin: 0 auto;
  border-radius: 10px;
}
/* Our Custom Tool */
.video-tabs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.video-tabs>ul>li>a{
  display: block;
  color: var(--lite_gray);
  border: 1px solid var(--lite_orange);
  padding: 16px 25px;
  font-size: 17px;
  
}
.video-tabs>ul>li>a>.fa-light{
  color: var(--orange)
}

.video-tabs>ul>li>.active>.fa-light{
  color: var(--white);
}
.video-tabs>ul>li>.active{
  color: var(--white);
  background: var(--orange);
}
.video-tabs .nav-tabs{
  border-bottom: none;
  padding: 0 20px;
}
.video-tabs>ul{
  display: block;
  /* flex: 0 0 30%; */
  max-width: 30%;
}
.tab-content{
  flex: 0 0 70%;
  max-width: 70%;
}
.tab-content>div>video{
  height: 495px;
  width: 830px;
  background: #fc614042;
  border-radius: 25px;
}
/* Our Custom Tool */